.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mat-dialog-content {
    height: 100%;
    form {
      display: flex;
      flex-direction: column;

      .full-width {
        width: 100%;
        mat-form-field {
          width: 100%;
        }
      }
    }

    .row {
      display: flex;
      .column {
        display: flex;
        flex-direction: column;
        width: 30%;

        &.half-width {
          width: 50%;
        }

        &.full-width {
          width: 100%;
        }

        &:not(:first-child) {
          margin-left: 100px;
        }
      }
    }
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: center;
  }

  .capitalize {
    text-transform: capitalize;
  }
}
