<div class="loading-shade"
     *ngIf="isLoadingResults">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingResults" class="container">
  <div class="column">
    <p>Transaction ID: {{transfer.id}}</p>
    <p>Transaction type: {{transfer.trType}}</p>
    <p>Date: {{transfer.created | date: 'dd/MM/yyyy'}}</p>
    <p>Session ID: {{transfer.sessionId}}</p>
  </div>
  <div class="column">
    <p>Originator name: {{transfer.originator?.name}}</p>
    <p>Originator VASP VAAN:{{transfer.originator?.vaan}}</p>
    <p>Beneficiary name: {{transfer.beneficiary?.name}}</p>
    <p>Beneficiary VASP VAAN: {{transfer.beneficiary?.vaan}}</p>
  </div>
  <div class="column">
    <p>Asset: {{transfer.assetType}}</p>
    <p>Amount: {{transfer.amount}}</p>
  </div>
  <div class="column action">
<!--    <div class="row">-->
      <button *ngIf="transfer.trType === 'OUTGOING'" mat-raised-button color="primary" (click)="openTransferDialog('repeat')" matTooltip="Repeat transfer" matTooltipPosition="above">
        <mat-icon>repeat</mat-icon>
      </button>
      <button *ngIf="transfer.trType === 'OUTGOING' && transfer.trStatus === 'CREATED'" mat-raised-button color="primary" (click)="openTransferDialog('edit')" matTooltip="Edit transfer" matTooltipPosition="above">
        <mat-icon>create</mat-icon>
      </button>
      <button *ngIf="transfer.trType === 'OUTGOING' && transfer.trStatus === 'CREATED'" mat-raised-button color="primary" (click)="openDeleteDialog()" matTooltip="Delete transfer" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
<!--    </div>-->
  </div>
  <div class="column">
    <app-transfer-command *ngIf="isCommandAllowed()" [transfer]="transfer" (command)="onCommandClick($event)"></app-transfer-command>
  </div>
</div>
