.container {
  width: 100%;

  .container-columns {
    width: 100%;
    display: flex;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      &:first-of-type, &:last-of-type {
        width: 15%;
      }

      &:nth-of-type(2), &:nth-of-type(3) {
        width: 35%;
      }

      &.action {
        justify-content: center;

        button {
          width: 80px;
        }

        button:not(:first-child) {
          margin-top: 5px;
        }
      }
    }
  }
}

.loading-shade {
  display: flex;
  justify-content: center;
  padding: 10px;
}
