.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .column {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &.action {
      justify-content: center;

      button:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}

.loading-shade {
  display: flex;
  justify-content: center;
  padding: 10px;
}
